<!DOCTYPE html>
<html lang="en">
<head>

    <script src="js/vis.js"></script>
    <link href="css/vis.css" rel="stylesheet" type="text/css" />

    <% include ../partials/head %>
</head>

<body id="page-top" data-gr-c-s-loaded="true">

<header>
    <% include ../partials/navbar %>
</header>

<section class="section slider">
    <div class="container">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item"> Conversations ( total number ): <span class="label label-success">  <%= total_count%> </span> </li>
                <li class="list-group-item"> Session time ( average minutes ): <span class="label label-success"> <%= avg_minutes%> </span>  </li>
                <li class="list-group-item"> Answered questions ( average number ): <span class="label label-success"> <%= avg_counter %> </span> </li>
            </ul>
        </div>
        <div class="row">
            <div class="container">
                <div id="visualization"></div>
            </div>
        </div>
    </div>
</section>


<% include ../partials/subscribe %>

<% include ../partials/footer %>

<script type="text/javascript">

    var container = document.getElementById('visualization');


    var items = [

    <% dataset.forEach(function(item) { %>

     {x: <%= item.minutes %> , y: <%= item.counter %>},

    <% }); %>

    ];


    var dataset = new vis.DataSet(items);

    var options = {
        style:'bar',
        barChart: {width:50, align:'center'}, // align: left, center, right
        drawPoints: false,
        dataAxis: {
            icons:true
        },
        orientation:'top',
        legend:  { enabled: 'true' }
    };
    var graph2d = new vis.Graph2d(container, dataset, options);

</script>
</body>
</html>




