<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <% include ../partials/head %>
</head>

<body id="page-top" data-gr-c-s-loaded="true">

<header>
    <% include ../partials/navbar %>
</header>

<section class="section analytics">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="visualization"></div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item"> Session time ( average minutes ): <span class="label label-success"> <%= avg_minutes%> </span>  </li>
                    <li class="list-group-item"> Answered questions ( average number ): <span class="label label-success"> <%= avg_counter %> </span> </li>
                    <li class="list-group-item"> Conversations ( total number ): <span class="label label-success">  <%= total_count%> </span> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<% include ../partials/subscribe %>
<% include ../partials/footer %>

<script type="text/javascript">

    var xArray = [];
    var yArray = [];

    <% dataset.forEach(function(item) { %>
        xArray.push(<%= item.counter %>);
        yArray.push(<%= item.minutes %>);
    <% }); %>


    var trace = {
            x: yArray,
            y: xArray,
            type: 'bar',
        };
    var data = [trace];
    var layout = {
        title: 'Narrafy Analytics',
        //barmode: 'stack',
        yaxis: {
            title: 'Questions answered',
            range: [ 0, 40 ],
            titlefont: {
                size: 16,
                color: 'rgb(107, 107, 107)'
            },
            tickfont: {
                size: 14,
                color: 'rgb(107, 107, 107)'
            }
        },
        xaxis: {
            title: 'Session time (minutes)',
            range: [ 0, 15 ],
            titlefont: {
                size: 16,
                color: 'rgb(107, 107, 107)'
            },
            tickfont: {
                size: 14,
                color: 'rgb(107, 107, 107)'
            }
        },
    };
    Plotly.newPlot('visualization', data, layout);

</script>
</body>
</html>




