
<section id="contact" class="section-secondary">
    <div class="container">
        <h2> Create Story </h2>

        <div class="row row-eq-height">
            <div class="col-md-2 ">
                <img src="img/contact.jpg" alt="icon" class="team img-responsive">

            </div>
            <div class="col-md-8 ">
                <div id="email-notification" class="hide">
                    <p class="text-center big">
                        Story sent.
                    </p>
                </div>

                <div id="send-story-form">
                    <div class="form-group">
                        <input id="conversation-id" type="name" value="<%= conversation_id %>" name="conversation_id" class="form-input-text form-control" placeholder="Name" required="required" />
                    </div>

                    <div class="form-group">
                        <input id="name-box" type="name" value="<%= user_name %>" name="name" class="form-input-text form-control" placeholder="Name" required="required">
                    </div>
                    <div class="form-group">

                        <input id="email-box" type="email" value="<%= email%>" name="email" class="form-input-text form-control" placeholder="Email" required="required">
                    </div>

                    <div class="form-group">
                        <textarea id="internalization-story-box" value="" name="internalization" class="form-input-text form-control" rows="10" placeholder="Internalization Exercise" required="required"><%= internalization%></textarea>
                    </div>

                    <div class="form-group">
                        <textarea id="externalization-story-box" value="" name="externalization" class="form-input-text form-control" rows="15" placeholder="Externalization Exercise" required="required"><%= externalization%></textarea>
                    </div>

                    <div class="send-button bottom-margin">
                        <button type="submit" onclick="ContactInput.sendStory(this)" class="btn  btn-primary">Send Story</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>